html, body{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}
html{ 
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit
}

.userPage{
	min-height: 100%;
}

/*FORM*/

#form1{
	position: relative;
	z-index: 1;
}

.buildWebForm{
	position: relative;
	z-index: 1;
	/*background-color: #81abef;*/
}

.right{
	background-color: #81abef;
}
.wideForm{ 
	font-family: inherit;
	width: 300px; 
	margin: 0;
	-webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
	
input[type=range]{
	width: 200px;
	margin-left: 15px;
}

.borderPush{ 
	margin-left: 15px;
}

#elementSizer{ 
	margin-left: 0px;
}

/*BUTTONS */
.buttonAll{
	 box-shadow: none;
	font-size: 16px; 
	 background-color: #ffffff;
	 color: #000000;
	 border: none;
	 display: inline-block;
	 margin: 10px 10px 0 0;

}
.userButton{
	margin-bottom: 15px;
}
.deleteModeOn{ 
	background-color: red; 
}

.deleteModeOn:hover{
	background-color: #ff7f7f;
}


.navButton button:hover{
	font-size: 20px; 
}

.navButton button:active{
	color: #1754b5;
}

.editModeOn{
	background-color: green; 
}
.editModeOn:hover{
	background-color: #aeffae;

}

/*WELCOME POP UP*/
.popUp{
	position: relative;
	z-index: 3;
	bottom: 350px;
	color: #ffffff;
}

#welcomePopUp{
	background-color: #81abef;
	padding: 80px; 
}

#welcomePopUp button{
	color: gray;
}

#welcomePopUp h1{
	font-size: 48px;
}
#welcomePopUp h3{
	font-size: 18px;
	padding-bottom: 5px;
}

.dimmer {
    background: #000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/*.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}*/

/*DELETE POP UP*/
#deleteRow{
	display: none;
}
#deletePopUp{
	background-color: red;
	padding: 60px; 
}

#deletePopUp h1{
	font-size: 20px;
}
#deletePopUp button{
	color: gray;
}
.colorPicker{
	margin-top: 5px;
	margin-left: 5px;
}

#editRow{
	display: none; 
}

#editPopUp{ 
	background-color: green; 
	padding: 60px; 
}

#editPopUp h1{
	font-size: 20px;

}

#editPopUp button{
	color: gray;
}

.error{
	color: red;
	font-weight: bold;
	/*margin-top: 5px;*/
	/*margin-bottom: 5px;*/
	display: none;
}


