html, body{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

.userPage{
	min-height: 100%;
}

#form1{
	position: relative;
	z-index: 1;
}

.buildWebForm{
	position: relative;
	z-index: 1;
	/*background-color: #81abef;*/
}

.right{
	background-color: #81abef;
}
.wideForm{ 
	font-family: inherit;
	width: 300px; 
	margin: 0;
	-webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.buttonAll{
	 box-shadow: none;
	font-size: 16px; 
	 background-color: #ffffff;
	 color: #000000;
	 border: none;
	 display: inline-block;
	 margin: 10px 10px 0 0;

}
.deleteModeOn{ 
	background-color: red; 
}

.deleteModeOn:hover{
	background-color: #ff7f7f;
}
.navButton{ 
	appearance: none;
   
}

.navButton button:hover{
	font-size: 20px; 
}

.navButton button:active{
	color: #1754b5;
}

#welcomePopUp{
	background-color: #81abef;
	color: #ffffff;
	padding: 80px; 
	/*display: none;*/
	/*border: 4px solid #435b82;*/
	position: relative;
	z-index: 3;
	bottom: 350px;
}
#welcomePopUp button{
	color: gray;
}

#welcomePopUp h1{
	font-size: 48px;
}
#welcomePopUp h3{
	font-size: 18px;
	padding-bottom: 5px;
}

.dimmer {
    background: #000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.colorPicker{
	margin-top: 5px;
	margin-left: 5px;

}
	
input[type=range]{
	width: 200px;
	margin-left: 15px;
}


.borderPush{ 
	margin-left: 15px;
}

#elementSizer{ 
	margin-left: 0px;
}



